.home_main_div {
  margin-top: 6.5rem;
  width: 100vw;
  min-height: calc(100vh - 6rem);
  position: relative;
  background-color: #1d1d1d;
}


.home_main {
  width: 70%;
  min-height: 80vh;
  margin: 0 auto;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}